header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.recipes {
  display: flex;
  flex-wrap: wrap
}

.recipe-card {
  display: block;
  border: 1px solid silver;
  border-radius: 5px;
  box-shadow: 5px #eee
}

.recipe-card__image {
  width: 600px;
}

.append-form__row {
  display: flex;
  margin-top: 1ex;
}

.append-form__label {
  display: block;
  width: 200px;
}
